//colors
$color_classic_rose_approx: #fdcbf1;
$color_snuff_approx: #e6dee9;
$color_moon_raker_approx: #ddd6f3;
$color_rose_bud_approx: #faaca8;
$white: white;
$pink: pink;

//fonts
$font_0: Urbanist;
$font_1: sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;500&display=swap');

* {
	margin: 0;
	padding: 0;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
body {
	font-family: $font_0, $font_1;
}
header {
	background-image: linear-gradient(-20deg, $color_moon_raker_approx 0, $color_rose_bud_approx 100%, $color_rose_bud_approx 100%);
	color: $white;
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-areas: "nav" "content";
	min-height: 100vh;
	.container {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		overflow: hidden;
	}
	.nav {
		grid-area: nav;
		display: grid;
		justify-content: space-between;
		grid-auto-flow: column;
		gap: 1em;
		align-items: center;
		height: 90px;
	}
	.nav__list {
		list-style: none;
		display: grid;
		grid-auto-flow: column;
		gap: 1em;
	}
	.nav__link {
		color: var(--color);
		text-decoration: none;
	}
	.nav__logo {
		font-size: 1.8rem;
		font-weight: 300;
		animation: bounce1 5s alternate infinite ease-in;
	}
	.nav__menu {
		display: none;
	}
	.nav__icon {
		width: 30px;
	}
	.hero__main {
		grid-area: content;
		display: grid;
		gap: 2em;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 180px;
		align-items: center;
	}
	.hero__waves {
		grid-area: content;
		align-self: end;
	}
	.hero__title {
		font-size: 2.6rem;
		letter-spacing: 2px;
	}
	.hero__subtitle {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
		font-weight: 300;
	}
	.hero__cta {
		text-decoration: none;
		color: var(--color);
		padding: 15px 60px;
		border: 1px solid;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 6px;
		display: inline-block;
		font-weight: 500;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: background-color .3s;
		&:hover {
			background-color: $white;
			color: $pink;
		}
	}
	.hero__img {
		width: 100%;
	}
	.title {
		text-align: center;
		font-size: 3rem;
		padding: .8rem;
	}
}
@media(max-width: 800px) {
	.hero {
		background-image: linear-gradient(to top, $color_classic_rose_approx 0, $color_classic_rose_approx 1%, $color_snuff_approx 100%);
	}
}
@keyframes bounce1 {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-10%);
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(10%);
	}
}
@media(max-width:800px) {
	header {
		.nav__list {
			display: none;
		}
		.nav__menu {
			display: block;
		}
		.hero__main {
			grid-template-columns: 1fr;
			grid-template-rows: max-content max-content;
		}
		.hero_picture {
			grid-row: 1/2;
		}
		.hero__img {
			max-width: 500px;
			display: block;
			margin: 0 auto;
		}
	}
}

//colors
$pink_45_9: rgba(255, 192, 203, 0.459);
$white: white;

.gallery {
	padding-bottom: 3em;
	padding-top: 1em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 160px;
	grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img4" "img5 img5 img6 img7" "img5 img5 img8 img8";
	gap: 1.8em;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.gallery__picture {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	&:hover::before {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scaleY(1);
	}
}
.gallery__picture::before {
	content: "Doritela";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $pink_45_9;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scaleY(0);
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform .4s;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
}
.gallery__picture--g1 {
	grid-area: img1;
}
.gallery__picture--g2 {
	grid-area: img2;
}
.gallery__picture--g3 {
	grid-area: img3;
}
.gallery__picture--g4 {
	grid-area: img4;
}
.gallery__picture--g5 {
	grid-area: img5;
}
.gallery__picture--g6 {
	grid-area: img6;
}
.gallery__picture--g7 {
	grid-area: img7;
}
.gallery__picture--g8 {
	grid-area: img8;
}
@media(max-width:768px) {
	.title {
		font-size: 3.5rem;
		padding: .8em 0 .4em;
	}
	.gallery {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "img1 img1" "img1 img1" "img2 img3" "img4 img4" "img4 img4" "img5 img5" "img6 img7" "img8 img8" "img8 img8";
	}
	.gallery__picture::before {
		font-size: 1rem;
	}
}

form {
    width: 340px;
    height: 440px;
    background: white;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vw -220px);
    padding: 20px 30px;
    max-width: calc(100vw -40px);
    box-sizing: border-box;
    font-family: "Monserrat", sans-serif;
    position: absolute;
    margin-top: 100px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 400px) {}


.form>h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    color: grey;
    border-bottom: 3px solid black;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Monserrat", sans-serif;
    transition: all .3s;
    border-bottom: 2px solid grey;
}

input:focus {
    border-bottom: 2px solid lightblue;
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: gray;
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Monserrat", sans-serif;
    border: 2px solid gray;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background: gray;
    color: white;
}

.numero {
    position: absolute;
    bottom: -15px;
    right: 10px;
    background: black;
    color: white;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}

span {
    margin: 0 5px 0 15px;
}

footer {
    text-align: center;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    color: black;
}

th,
td {
    padding: 20px;
}

thead {
    background-color: pink;
    border-bottom: solid 5px #0f362d;
    color: white
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover {
    background-color: pink;
    color: white;
}

footer{
    position: relative;
    width: 100%;
    background: transparent;
    min-height: auto;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li{
    list-style: none;
}

footer .social_icon  li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translateY(-10px);
}

footer .menu  li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

