//colors
$white: white;
$black: black;
$pink: pink;
$color_gable_green_approx: #0f362d;
$color_alto_approx: #ddd;

table {
	background-color: $white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	color: $black;
}
th {
	padding: 20px;
}
td {
	padding: 20px;
}
thead {
	background-color: $pink;
	border-bottom: solid 5px $color_gable_green_approx;
	color: $white;
}
tr {
	&:nth-child(even) {
		background-color: $color_alto_approx;
	}
	&:hover {
		background-color: $pink;
		color: $white;
	}
}